@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#f3f1f1, #b8b5b5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Exo;
  }

.grid {
  display: grid;
  border: 10px solid black;
  border-radius: 5px;
  width: 60%;
  height: 60%;
  background: linear-gradient(#f3f1f1, #b8b5b5);
}

.gridSquares {
  border: 1px solid rgb(243, 239, 239);
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #c7c360 0%,
    #70b683 29%,
    #db4879 67%,
    #c7c360 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s linear infinite;
  display: inline-block;
  font-size: 45px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#prompt {
  font-size: 14px;
  color: rgb(255, 0, 0);
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.submit, .reset {
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  background-color: rgb(212, 238, 255);
  border-radius: 4px;
  font-family: exo;
  border: 2px solid rgb(71, 69, 69);
    cursor: pointer;
}

#input {
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-number {
  width: 25px;
  border: 2px solid rgb(71, 69, 69);
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 4px;
}

