#container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  width: 950px;
  height: 950px;
  border: 3px solid black;
  padding: 5px;

  }

  .gridSquares {
    width: 55px;
    height: 55px;
    border: 1px solid gray;
    background-color: rgb(173, 169, 169);
    }